/*Autocomplete*/
.listDisplay {
  list-style: none;
  border: 2px black;
  border-style: solid;
  max-height: 300px;
  overflow: hidden;
  overflow-y: scroll;
  width: 170px;
  max-height: 300px;
}
.lsitItems:hover {
  background-color: burlywood;
}

.contianer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
